body{
    font-family:system-ui,sans serif;
}
.searchbar{
    width:100%;
    height:50px;
    background-color:white;
    border-radius: 50px;
    border:0px solid grey;
    box-shadow:0px 8px 8px rgb(207, 200, 200);
    margin-top: 20px;
    display:flex;  
    justify-content: center;
    align-items: center;
    gap:10px;
    font-size: larger;
}

.top{
    display:flex;
    align-items:center;
    justify-content: center;
    gap:150px;
    padding-top: 30px;
    font-weight:larger;
}
.new{
    background-color: black;
    color:white;
    border-radius:3px;
    text-align: center;
    width:50px;
    position:absolute;
    top:100px;
    right:665px;
}
.news{
    background-color: black;
    color:white;
    border-radius:3px;
    text-align: center;
    width:50px;
    position:absolute;
    top:100px;
    right:475px;

}
.hr{
    box-shadow: 0px 10px 10px rgb(207,200,200);
}
.Bengaluru{
    display: flex;
    gap:5px;
    flex-wrap: wrap;
    justify-content:space-evenly

    
}
.beng{
    border:1px solid grey;
    height:425px;
    border-radius: 30px;
    
}

.beng1img{
    width:290px;
    border-radius:30px;
}

.dis{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    padding-left:15px;
    
}
.rent{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    padding-left:15px;

}
.flex{
    display: flex;
    align-items: center;
    gap:50px;
}
.footer{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
}

    
